html {
  background-color: #f4f4f4;
}

* {
  border: none !important;
}

/* Hack to fix leaflet bug */
.leaflet-tile-container {
  overflow: hidden;
}

#right-buttons {
  overflow: scroll;
  /*white-space: nowrap;*/
}

#map {
  height: 36em;
}
